@use "../styles/mixins";
@use "../styles/variables";

.dashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-content {
  flex: 1;
  @include mixins.flex-column;
  overflow: hidden;
  padding: 2rem;
}

.dashboard-body {
  flex: 1;
  padding: variables.$spacing-3xl 0;
  @include mixins.scrollable;
  @include mixins.flex-column;
  gap: variables.$spacing-3xl;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: variables.$spacing-3xl;
}

.grid-item {
  padding-bottom: variables.$spacing-lg;

  &:nth-child(-n + 2) {
    border-bottom: 6px so²lid variables.$text-secondary;
  }
  &:nth-child(5) {
    border-bottom: 10px solid variables.$secondary-bg;
  }
  &:nth-child(6) {
    border-bottom: 10px solid variables.$accent-orange;
  }

  &.col {
    @include mixins.flex-column;
    gap: variables.$spacing-5xl;

    &.space-between {
      justify-content: space-between;
    }
  }

  &.data-section {
    @include mixins.flex-column;
    gap: variables.$spacing-xs;
    text-align: right;
  }

  &.steering-panel {
    grid-column: span 3;
    display: flex;
    justify-content: flex-end;
  }
}

.data-header {
  color: variables.$text-primary;
  @include mixins.text-mid;
  font-weight: 600;
}

.data-provider {
  color: variables.$accent-orange;
  font-size: 48px;
  font-weight: 700;
}

.left-panel {
  @include mixins.flex-column;
  gap: variables.$spacing-3xl;
}

.accent {
  color: variables.$accent-orange;
}

.company-details {
  ul {
    list-style: none;
    li {
      margin: variables.$spacing-xs 0;
    }
  }

  border-left: 4px solid variables.$secondary-bg;
  padding-left: variables.$spacing-xl;
  color: variables.$text-dark;
}

.uco-details {
  @include mixins.flex-column;
  color: variables.$text-dark;
  gap: variables.$spacing-xs;

  .uco-item {
    display: flex;
    align-items: center;
    color: variables.$text-dark;
    gap: variables.$spacing-sm;

    .uco-label {
      background-color: variables.$accent-blue-dark;
      color: variables.$text-primary;
      padding: variables.$spacing-xs variables.$spacing-sm;
      @include mixins.text-small;
      font-weight: 600;
      text-align: center;
    }
  }
}

.z-details {
  display: flex;
  justify-content: space-between;
  color: variables.$text-dark;

  .z-item {
    width: 50%;
    @include mixins.flex-column;
    color: variables.$text-dark;
    gap: variables.$spacing-sm;

    .z-label {
      @include mixins.text-medium;
      color: variables.$text-dark;
      font-weight: 400;
    }

    p {
      @include mixins.heading-large;
      font-weight: 600;
      color: variables.$accent-orange;
    }
  }
}

.market-cap-details {
  @include mixins.flex-column;
  gap: variables.$spacing-sm;
  border-left: 4px solid variables.$secondary-bg;
  padding-left: variables.$spacing-xl;
  color: variables.$text-dark;
  font-size: 24px;

  .market-cap-label {
    @include mixins.text-medium;
    color: variables.$text-dark;
    font-weight: normal;
  }

  .market-cap-value {
    @include mixins.heading-large;
    font-weight: 500;
    color: variables.$accent-orange;
  }
}

.data-details {
  @include mixins.flex-column;
  gap: variables.$spacing-sm;
  border-left: 4px solid variables.$secondary-bg;
  padding-left: variables.$spacing-xl;
  color: variables.$text-dark;
  font-size: 24px;

  .data-label {
    @include mixins.text-medium;
    color: variables.$text-dark;
    font-weight: normal;
  }

  p {
    @include mixins.heading-large;
    font-weight: 500;
  }
}

.triangle-graph {
  height: 200px;
}

.risks-details {
  @include mixins.flex-column;

  h1 {
    @include mixins.heading-large;
    padding: variables.$spacing-lg variables.$spacing-sm variables.$spacing-sm variables.$spacing-xl;
    color: variables.$accent-orange;
    text-transform: uppercase;
    border: 2px solid variables.$text-dark;
    margin-bottom: variables.$spacing-sm;
  }

  .risks-values {
    @include mixins.flex-column;
    justify-content: space-evenly;

    background-color: variables.$accent-blue-dark;
    padding: variables.$spacing-lg;
    gap: 2rem;
    padding: variables.$spacing-3xl variables.$spacing-xl;

    .risk-values-item {
      .risk-label {
        @include mixins.text-medium;
        font-weight: normal;
      }

      p {
        @include mixins.heading-xlarge;
        font-weight: normal;
      }
    }
  }
}

.change-liquidity-group {
  @include mixins.flex-column;
  gap: variables.$spacing-2xl;
}

.market-cap-details,
.change-details,
.group-details,
.liquidity-details {
  @include mixins.flex-column;
  gap: variables.$spacing-sm;
  border-left: 4px solid variables.$secondary-bg;
  padding-left: variables.$spacing-xl;
  color: variables.$text-dark;
  font-size: 24px;

  .market-cap-label,
  .change-label,
  .group-label,
  .liquidity-label {
    @include mixins.text-medium;
    color: variables.$text-dark;
    font-weight: normal;
  }

  .market-cap-value,
  .change-value,
  .group-value,
  .liquidity-value {
    @include mixins.heading-large;
    font-weight: 500;
    color: variables.$accent-orange;
  }
}
