@use "../styles/mixins";
@use "../styles/variables";

.dashboard-header {
  @include mixins.flex-between;
  background-color: transparent;
  padding: 23px 0 10px 0;
}

.company-title {
  width: 77%;
  padding-bottom: 7px;
  border-bottom: 1px solid variables.$text-secondary;
}

.company-name {
  @include mixins.heading-large;
  font-weight: normal;
  color: variables.$text-dark;
  padding-left: 10px;
  padding-top: 10px;
  border-left: 4px solid variables.$accent-orange;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.view-toggle {
  display: flex;
  gap: 0.6rem;
}

.toggle-btn {
  @include mixins.button-base;
  padding: variables.$spacing-md variables.$spacing-xl;
  background: variables.$text-tertiary;
  color: variables.$text-muted;
  width: 100px;
  border-radius: 25px;
  &:hover {
    color: variables.$accent-orange;
  }

  @include mixins.text-small;

  &.active {
    background-color: variables.$accent-orange;
    color: variables.$text-primary;
  }
}

.header-icons {
  display: flex;
  gap: 0.6rem;
}

.icon-btn {
  @include mixins.button-base;
  background: variables.$text-tertiary;
  color: variables.$text-muted;
  border-radius: 25px;
  height: 41px;
  width: 41px;

  svg {
    scale: 1.5;
  }

  &:hover {
    color: variables.$accent-orange;
  }
}
