@use "../styles/mixins";
@use "../styles/variables";

.dashboard-header {
  @include mixins.flex-between;
  background-color: transparent;
  padding: 23px 0;
  border-bottom: 1px solid variables.$secondary-bg;
}

.company-title {
  width: 75%;
  border-left: 4px solid variables.$accent-orange;
  padding-left: variables.$spacing-md
}

.company-name {
  @include mixins.heading-large;
  color: variables.$text-dark;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.view-toggle {
  display: flex;
  gap: 0.6rem;
}

.toggle-btn {
  @include mixins.button-base;
  padding: variables.$spacing-md variables.$spacing-xl;
  background: variables.$text-secondary;
  color: variables.$text-muted;
  width: 100px;
  border-left: 6px solid transparent;
  &:hover {
    color: variables.$accent-orange;
  }

  @include mixins.text-small;

  &.active {
    background-color: variables.$accent-orange;
    color: variables.$text-primary;
    border-left: 6px solid black;
  }
}

.header-icons {
  display: flex;
  gap: 0.6rem;
}

.icon-btn {
  @include mixins.button-base;
  background: variables.$text-secondary;
  color: variables.$text-muted;
  height: 41px;
  width: 41px;

  svg {
    scale: 1.5;
  }

  &:hover {
    color: variables.$accent-orange;
  }
}
